@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #000000, #111111);
}
    
.container .content-wrapper {
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;   
}
.container .content-wrapper .main-content {
    width: 75%;
    height: 78%;
    padding: 10px 7%;
    border-radius: 20px;
    background: #000000;
    background: linear-gradient(to right bottom, 
        rgba(255,255,255, .7), 
        rgba(255,255,255,.3));
    z-index: 1;
    border: 1px solid #fff;
}  
.main-content .topnav {
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 50px;
    margin-top: 10px;
}  
.main-content .topnav a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    float: left;
    padding: 2px 16px;
    text-align: center;
}  
.main-content .topnav a:hover {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    float: left;
    padding: 2px 16px;
    text-align: center;
}
.main-content .topnav .logo-brand {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #000000;
} 
.main-content .topnav .logo {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
.main-content .topnav a:not(:first-child) {
    padding: 8px 20px;
    margin-right: 5px;
}
.main-content .topnav a:hover:not(:first-child) {
    background-color: #ff0000;    
    border-radius: 3px;
    color: #ffffff;
    transition: all 0.3s ease;
}
.main-content .topnav a.active {
    background-color: #ff0000;
    border-radius: 3px;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.3s ease;
}
.main-content .topnav .first {
    margin-right: 24%;
} 
.main-content .home {
    display: flex;
    justify-content: space-between;
    z-index: 1;
} 
.main-content .home .strengths {
    width: 60%;
    height: 30vh;
    margin-top: -10px;
    z-index: 2;
    color: #fff;
} 
.main-content .home .strengths .salutation {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 30px;
}
  

  
.main-content .home .strengths .job {
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 30px;
}
  
.main-content .home .strengths .job .orange-color {
    color: #000000;
}
  
.main-content .home .strengths .qualities {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 15px;
}
  
.main-content .home .strengths .buttons-wrapper {
    margin-top: 10px;
    z-index: 1;
}
  
.main-content .home .strengths .buttons-wrapper button {
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}
  
.main-content .home .strengths .buttons-wrapper .orange-button {
    background-color: #FF0000;
    color: white;
    border: 1px solid #FF0000;
    z-index: 1;
    font-weight: 600;
    transition: all 0.3s ease;
}
  
.main-content .home .strengths .buttons-wrapper .transparent-button {
    background-color: inherit;
    border: 1px solid black;
    margin-left: 10px;
    color: black;
    z-index: 1;
    font-weight: 600;
    transition: all 0.3s ease;
}

.main-content .home .strengths .buttons-wrapper .transparent-button:hover {
    background-color: #FF0000;
    color: white;
    border: 1px solid #FF0000;
    transition: all 0.3s ease;
}
  
.main-content .home .strengths .hand-right-wrapper {
    width: 40%;
    z-index: 2;
    float: left;
    margin-left: -30px;
}
  
.main-content .home .strengths .hand-right-wrapper .hand-right {
    width: 40vw;
    height: 50vh;
    z-index: 4;
    margin-left: -31vw;
    margin-top: -17vh;
}
  
.main-content .home .strengths .hand-up-wrapper {
    width: 40%;
    z-index: 2;
    float: left;
}
  
.main-content .home .strengths .hand-up-wrapper .hand-up {
    width: 40vw;
    height: 55vh;
    z-index: 5;
    margin-left: -25vw;
    margin-top: -2vh;
}

.main-content .home .strengths .arrow-wrapper .arrow-down {
    height: 25px;
    width: 25px;
    position: relative;
    margin-top: 8vh;
    z-index: 4;
    animation: mover 0.8s infinite  alternate;   
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
  
.main-content .home .picture {
    width: 32%;
    height: 46vh;
    border: 7px solid #000000;
    background-color: #000000;
    border-radius: 50%;
    margin-right: -1px;
    z-index: 3;
}
  
.main-content .home .picture .pose-pic {
    z-index: 5;
    height: 60vh;
    float: right;
    margin: 3.7vh 2vh 0px 0px;
}

/* Image Slider Container*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }